*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#board {
    display: flex;
    margin: 0 auto;
    width: 800px;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  .square {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid white;
  }
#board .red .square:nth-of-type(even){
    background: red;
}
#board .red .square:nth-of-type(odd){
    background: black;
}
#board .black .square:nth-of-type(even){
    background: black;
}
#board .black .square:nth-of-type(odd){
    background: red;
}